.adminContainer {
    width: 80%;
    max-width: 800px;
    margin: 6rem auto;
    color: #fff;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}
