/* HomePage.css */
.homepage-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;      /* Horizontální centrování */
    justify-content: center;  /* Vertikální centrování */
    min-height: 100vh;        /* Celá výška stránky */
    padding: 20px;
    box-sizing: border-box;
}

.homepage-container h1 {
    margin-bottom: 40px; /* Oddělení nadpisu od TilesSet */
    text-align: center;  /* Centrovaný text */
}