/* src/components/EntryHistoryTable.module.css */

.tableWrapper {
    flex: 1;
    background-color: #2a2a2a;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tableWrapper h3 {
    margin-top: 0;
}

.tableContainer {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #3a3a3a;
    z-index: 2;
}

.table tfoot td {
    position: sticky;
    bottom: 0;
    background-color: #3a3a3a;
    z-index: 2;
}

.table th,
.table td {
    border: 1px solid #646cff;
    padding: 0.5rem;
    text-align: left;
}

.table th {
    /* Další styly pro hlavičku */
}

.table tfoot td {
    font-weight: bold;
}

.noData {
    font-style: italic;
    color: #bbb;
    text-align: center;
}
