/* src/components/Header.module.css */
.headerContainer {
    position: fixed;   /* Fixně k hornímu okraji stránky */
    top: 0;

    width: fit-content; /* Šířka se přizpůsobí obsahu */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    background-color: #333;
    border-bottom: 3px solid var(--button-background-hover);

    border-bottom-right-radius: 10px;
    border-right: 3px solid var(--button-background-hover);

    z-index: 999;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 15em
;
}
