/* src/components/SimpleButton.module.css */
.button {
    display: flex; /* Použití flexboxu pro zarovnání obsahu */
    align-items: center; /* Vertikální zarovnání ikon a textu */
    justify-content: center; /* Horizontální zarovnání */
    padding: 0.6rem 1rem;
    background-color: var(--button-background);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.button:hover {
    background-color: var(--button-background-hover); /* Tmavší odstín při hoveru */
}

.button:disabled {
    background-color: var(--button-background-disabled);
    cursor: not-allowed;
}

.icon {
    margin-right: 8px; /* Vzdálenost mezi ikonou a textem */
    font-size: 2em; /* Velikost ikony */
}

/* Pokud tlačítko neobsahuje text, odstraní se margin-right u ikony */
.button.noText .icon {
    margin-right: 0;
}
