/* src/App.module.css */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;      /* Horizontální centrování */
  justify-content: center;  /* Vertikální centrování */
  min-height: 100vh;        /* Celá výška viewportu */
  width: 100%;
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #242424; /* Zachování pozadí */
  color: rgba(255, 255, 255, 0.90); /* Zachování textové barvy */
}


.mainContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 60px);
    overflow-y: auto;

    width: 100%;
    box-sizing: border-box;
}

/* Vlastní styly pro ToastContainer */
.toastContainer {
    /* Přesuneme toasty pod header (60px výška headeru + 10px odsazení) */
    top: 90px !important;
    width: 100%;
}

.toast {
    font-size: 16px;
    padding: 1.5rem;
    min-width: 400px;
}


/* Příklady responsivních úprav */
@media (max-width: 600px) {
    .toastContainer {
        top: 70px !important;
    }

    .toast {
        font-size: 14px;
        padding: 0.8rem 1.2rem;
        min-width: 250px;
    }
}

